*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.name
/.idea/appInsightsSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.kotlin/errors/errors-1716672105448.log
/.kotlin/errors/errors-1716672259424.log
/.kotlin/errors/errors-1716672286459.log
/.kotlin/errors/errors-1716672513734.log
/.kotlin/errors/errors-1716673034148.log
/.kotlin/errors/errors-1716673058937.log
/.kotlin/errors/errors-1716673097607.log
/.kotlin/errors/errors-1716673472067.log
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.kotlin/sessions/kotlin-compiler-17460652718642737593.salive
